.zaBlank{width:100%; height:75px; overflow:hidden;}
.zaBaseBox *{margin:0px; padding:0px;}
.zaBaseBox,
.zaBaseBox a,
.zaBaseBox p,
.zaBaseBox span,
.zaBaseBox li,
.zaBaseBox em,
.zaBaseBox i,
.zaBaseBox input,
.zaBaseBox h1,
.zaBaseBox h2,
.zaBaseBox h3{font-size:12px; font-family:"Î¢ÈíÑÅºÚ",Arial; color:#555; font-style:normal; outline:none; outline:none;}
.zaBaseBox a{text-decoration:none;}
.zaBaseBox img{border:none;}
.zaBaseBox ul li{list-style:none;}
.zaBaseBox ul{width:100%; overflow:hidden;}
.zaBtn{color:#FFF; text-decoration:none; background:#015095; display:block; float:left; text-align:center; font-weight:bold; overflow:hidden;}
.zaBaseBox{width:333px; position:fixed; _position:absolute; bottom:0px; left:50%; margin-left:-480px; _top:0px; z-index:9999;}
.zaContent{width:333px; height:75px; background:url(../images/zaBg.gif) no-repeat; position:relative; float:right;}
.zaPopHolder{position:absolute; cursor:pointer;}
.zaPopTrigger{width:100%; height:100%; overflow:hidden;}
.zaPopCurrent .zaPopBoxWrapper{display:block;}
.zaPopBoxWrapper{position:absolute; bottom:25px; display:block; padding:0px 5px 5px 0px; cursor:default; overflow:hidden; display:none;}
.zaPopBox{width:317px; position:relative; padding:14px 0px 0px 12px; overflow:hidden;}
.zaBaseBox .zaPopBoxTtl{width:124px; height:40px; position:absolute; z-index:999; top:0px; left:0px; background:url(../images/zaBg.gif) -94px -83px no-repeat; color:#FFF; text-indent:20px; line-height:25px; overflow:hidden;}
.zaPopBoxContent{width:298px; border:#109dff solid 1px; float:left; background:#f0f1f1; position:relative; overflow:hidden;}
.zaPopBoxShadow{background:#000; opacity:0.3; filter:alpha(opacity=30); overflow:hidden;}
.zaPopBoxShadowRight{width:3px; float:left; margin-top:3px; }
.zaPopBoxShadowBottom{width:300px; height:3px; margin-left:3px;}
.zaPopBoxPointerShadow{width:21px; height:11px; background:url(../images/zaBg.gif) 0px -145px no-repeat; margin-left:120px;}
.zaPopBoxPointer{width:23px; height:12px; background:url(../images/zaBg.gif) -24px -145px no-repeat; position:absolute; bottom:3px; left:127px; z-index:300; overflow:hidden;}
.zaBaseBox .zaCross{width:12px; height:12px; background:#109dff; color:#fff; position:absolute; right:0px; top:0px; text-align:center; line-height:12px; display:none;}

.zaLogoHolder{width:25px; height:20px; position:absolute; top:15px; right:5px; overflow:hidden; cursor:default;}

.zaSearchHolder{width:30px; height:30px; top:43px; left:150px;}
.zaSearchPopBoxWrapper{width:317px; left:-125px;}
.zaSearchContent{margin:0px auto;}
.zaSearchInputWrapper{width:275px; margin:20px auto; overflow:hidden;}
.zaSearchInput{width:200px; height:24px; line-height:24px; border:#0071c5 solid 1px; text-indent:2px; display:block; float:left; overflow:hidden;}
.zaSearchBtn{width:72px; height:26px; text-indent:-200px; background:url(../images/zaBg.gif) -1px -113px no-repeat; border:none; cursor:pointer;}

.zaPromotionHolder{width:30px; height:30px; top:43px; left:111px;}
.zaPromotionPopBoxWrapper{width:317px; left:-125px;}
.zaPromotionListWrapper{padding:20px 0px;}
.zaPromotionList{width:100%; height:50px; border-bottom:#dfdfdf solid 1px; padding:10px 0px; display:block; float:none; *margin-top:-4px; position:relative; z-index:0;}
.zaPromotionListCurrent{background:#deebf0; z-index:10000;}
.zaPromotionProduct{width:100%; overflow:hidden;}
.zaPromotionProductPic{width:60px; height:45px; float:left; margin:0px 10px; padding:3px 0px; border:#e8e8e8 solid 1px; background:#FFF; _display:inline; overflow:hidden;}
.zaPromotionProductPic img{display:block; margin:0px auto; border:none;}
.zaPromotionProduct p{color:#555; float:left; line-height:18px; overflow:hidden;}
.zaPromotionProduct .zaPromotionName{width:210px; height:36px;}
.zaPromotionProduct .zaPromotionPrice{width:125px; margin:0px;}
.zaPromotionProduct .zaPromotionPrice em{color:#d00f0f;}
.zaBaseBox .zaPromotionBtn{width:60px; height:24px; display:block; text-align:center; position:absolute; right:5px; bottom:3px; line-height:24px; text-decoration:underline; color:#109dff; overflow:hidden;}
.zaBaseBox .zaPromotionBtn:hover{background:url(../images/zaBg.gif) -27px -83px no-repeat; text-indent:-100px; text-decoration:none;}
.zaPromotionTip{width:20px; height:20px; position:absolute; right:70px; bottom:5px;}
.zaPromotionTipTrigger{width:20px; height:20px; display:block; background:url(../images/zaBg.gif) 0px -83px no-repeat; overflow:hidden;}
.zaTipPointer{width:11px; height:5px; display:block; background:url(../images/zaBg.gif) -51px -145px no-repeat; position:absolute; top:14px; right:5px; z-index:999; overflow:hidden; display:none;}
.zaTipTxt{width:200px; line-height:20px; color:#fe4200; border:#f54e13 solid 1px; position:absolute; top:18px; right:-10px; padding:0px 5px; background:#FFF; overflow:hidden; z-index:0; display:none;}
.zaPromotionTipCurrent .zaTipTxt,.zaPromotionTipCurrent .zaTipPointer{display:block;}
.zaTipUp .zaTipPointer{background:url(../images/zaBg.gif) -51px -153px no-repeat; top:1px;}
.zaTipUp .zaTipTxt{top:auto; bottom:18px;}

.zaNewsHolder{width:45px; height:30px; top:43px; left:59px;}
.zaNewsPopBoxWrapper{width:317px; left:-117px;}
.zaNewsListWrapper{width:100%; padding:20px 0px;}
.zaNewsList{width:100%; height:20px; position:relative; margin:10px 0px; overflow:hidden;}
.zaNewsList i{width:10px; height:10px; background:#109dff; display:block; position:absolute; left:15px; top:4px; font-size:0px; line-height:0px; overflow:hidden;}
.zaNewsList a{padding-left:35px;}
.zaNewsList a:hover{color:#109dff; text-decoration:underline;}

.zaBaseBox .zaInt{color:#028bce; position:absolute; bottom:0px; left:5px;}



